@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
    min-height: 100%;

}

body {

    min-height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-verde-agua);
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4)), url(./pexels-mostafaft-shots-10873117.jpg);



}

header {
    margin: 0;
    height: 10%;
    padding: 5px 5px 5px 15px;
    background-color: rgba(0, 0, 0, 0.29);
    color: rgb(245, 244, 244);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    display: flex;
    align-items: center;


}

h1 {
    font-weight: 5;
}

main {
    display: flex;

    justify-content: center;

    padding-top: 3%;


    min-height: 100%;



}

form {

    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 35px 20px 20px 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(179, 173, 173, 0.28);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    max-height: 66vh;

}

form::before {
    content: "COMPLETAR CON TUS DATOS";
    position: absolute;
    top: -20px;
    border-radius: 3px;
    background-color: hsl(0, 0%, 0%, 0.48);
    color: white;
    padding: 5px 10px;


}

fieldset {
    display: flex;
    column-gap: 10%;
    row-gap: 100%;
    padding: 3%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 140px;

    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.35);



}

legend {
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 3px 7px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(189, 189, 189, 0.3);

    border-radius: 3px;


}



.datos-personales label,
.datos-inversion label {
    font-size: 13px;
    font-weight: 600;
    color: rgb(3, 145, 180);

}

.datos-reinversion label {
    font-weight: 600;
}




input {
    width: 200px;
    /* outline-style: none; */
    outline-color: #d6d4d4;

    height: 20px;
    margin-top: 5px;

}

::placeholder {
    padding-left: 5px;
}

input[type="radio"] {
    width: 50px;
}

button {
    width: 90px;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
    cursor: pointer;
    align-self: flex-end;


}

button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
}

.flex-inline {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    align-items: center;

}

dialog {

    border: none;
    min-width: 50%;

}

.contenedor-datos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

dialog h2 {
    margin: 0;
}

.header-output-datos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cerrar:hover {
    cursor: pointer;

}

dialog p {
    font-weight: 600;
    margin: 0;

}

dialog span {
    padding-left: 5px;

}

.resultado {
    align-self: flex-end;
    font-size: 16px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}



@media only screen and (max-width: 1000px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./pexels-mostafaft-shots-10873117.jpg);
    }

    header {
        justify-content: center;
        margin-bottom: 40px;
    }

    form {
        min-width: 94vw;
        padding-top: 70px;
        max-height: fit-content;
    }

    .datos-inversion,
    .datos-personales {
        display: flex;
        flex-direction: column;
    }

    input[type="text"],
    input[type="number"] {
        width: 85%;
        height: 70px;
        font-size: 60px;
    }

    .flex {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

    }

    fieldset {
        max-height: fit-content;
        row-gap: 20px;
    }

    .datos-personales label,
    .datos-inversion label {
        font-size: 36px;
        font-weight: 600;
        color: rgb(3, 145, 180);

    }

    label {
        font-size: 40px;

    }

    legend {
        font-size: 36px;

    }



    form::before {
        font-size: 28px;
        padding: 10px 20px;
    }

    #calcular {
        align-self: center;
        padding: 20px 40px;
        font-size: 36px;
        text-align: center;
        width: fit-content;
        margin-top: 15px;


    }

    dialog {

        border: none;
        min-width: 90%;

    }

    .contenedor-datos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 36px;
    }

    dialog h2 {
        margin: 0;
    }

    .header-output-datos {

        margin-bottom: 30px;
    }


    dialog span {
        padding-left: 10px;

    }

    .resultado {
        align-self: flex-end;
        font-size: 36px;
    }


}